.back-to-top {
  position: fixed;
  top: 0;
  right: 20px;
  width: 70px;
  height: 900px;
  z-index: $zindex-3;
  background-image: $backtop-bg;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: top 0.5s ease-out;
  will-change: top;
  @include sp-layout {
    display: none;
  }
}

.anime {
  animation: float 3s linear infinite;
}
