#post {
  margin: 0 auto;
  max-width: 900px;
  article {
    padding: 0.12rem 0;
    line-height: 1.6;
    text-align: justify;
    p {
      margin: 0.14rem 0.16rem 0;
    }
    h2,
    h3,
    h4 {
      margin: 0.14rem 0.16rem;
    }
    blockquote {
      position: relative;
      margin: 1em 0;
      padding: 0.3rem 0;
      font-style: italic;
      box-shadow: #999 0px 11px 8px -10px inset, #999 0px -11px 8px -10px inset;
      & > p {
        margin: 0.12rem 0.4rem;
      }
      &::before,
      &::after {
        position: absolute;
        font-family: Fontello;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #666;
        font-size: 0.24rem;
      }
      &::before {
        content: '\f10d';
        top: 0.06rem;
        left: 0.16rem;
      }
      &::after {
        content: '\f10e';
        bottom: 0.06rem;
        right: 0.16rem;
      }
    }
    table {
      margin: 0.14rem auto;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 0.03rem;
      border: 1px solid rgba(0, 0, 0, 0.08);
      tr {
        height: 0.32rem;
      }
      tr:nth-child(2n),
      thead > tr {
        background-color: rgba(0, 0, 0, 0.1);
      }
      td,
      th {
        padding: 0 0.36rem;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
      }
    }
  }
}
