/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
