#inspiration {
  .page {
    padding: 16px 0;
    @include card-page;
  }

  .content {
    padding: 16px;
    /deep/.full {
      .bg,
      img {
        border-radius: 3px;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }
}
