#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

  .title,
  .subtitle {
    font-family: GuDianMingChaoTi;
    animation: fadeInDown 0.5s ease-out;
  }

  .title {
    font-size: 0.49rem;
    line-height: 0.6rem;
    letter-spacing: 2px;
    transition: color 0.3s ease-out;
    &:hover {
      color: $purple;
    }
  }

  .subtitle {
    font-size: 0.22rem;
    line-height: 0.32rem;
    letter-spacing: 4px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.1rem;
    padding: 0 0.32rem;
    height: 0.6rem;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 0.8s;

    &:hover {
      border-radius: 0.3rem;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-top: 0.04rem;
      width: 0.5rem;
      font-size: 0.16rem;
      list-style: none;
      height: 86%;
      height: 100%;
      transition: color 0.3s ease-out;

      &:hover {
        &,
        i {
          color: var(--primary-color);
        }
      }
    }
  }
  // @media screen and (max-width: 900px) {
  //   .inner {
  //     .title {
  //       font-size: 0.46rem;
  //       line-height: 0.56rem;
  //     }

  //     .subtitle {
  //       font-size: 0.22rem;
  //       line-height: 0.36rem;
  //     }

  //     ul {
  //       padding: 0 0.24rem;
  //       height: 0.6rem;
  //       border-radius: 0.3rem;
  //       background-color: rgba(255, 255, 255, 0.4);
  //       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  //       li {
  //         width: 0.52rem;
  //         font-size: 0.17rem;
  //       }
  //     }
  //   }
  // }
}
