.about {
  min-height: 90vh;
  .main {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    .cover {
      width: 100%;
      height: 200px;
      background: url("http://ww1.sinaimg.cn/large/0067sbCSly1g4df5cdoujj31hc0u04qq.jpg")
        center center no-repeat;
      background-size: 100% 100%;
      padding-top: 280px;
      transition: all 1s ease-in-out;

      span {
        font-size: 60px;
        margin: auto;
        background: linear-gradient(to left, #3f4e7f 33%, #253f7f 73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
