#friend {
  .page {
    padding-top: 16px;
    @include card-page;
  }

  .me {
    display: flex;
    flex-direction: column;
    line-height: $line-height-block;

    @include pc-layout {
      margin: 0 32px 10px;
    }
    @include sp-layout {
      margin: 0 16px 6px;
    }

    span:first-child {
      margin-bottom: 6px;
    }

    span:last-child {
      margin-top: 6px;
    }

    a {
      @include link;
    }
  }

  .content {
    display: grid;
    padding: 16px;

    @include pc-layout {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include sp-layout {
      grid-template-columns: 1fr 1fr;
    }

    li {
      list-style: none;

      > a {
        position: relative;
        display: block;
        margin: 0 auto 16px;
        overflow: hidden;
        border-radius: 3px;
        transition: $transition-base;
        box-shadow: $card-shadow-light;

        @include pc-layout {
          width: 196px;
          height: 110px;
        }
        @include sp-layout {
          width: 178px;
          height: 100px;
        }

        @include pc-layout {
          &:hover {
            box-shadow: $card-shadow-light-hover;

            .cover {
              transform: scale(1.06);
            }

            .info {
              transform: translateY(-100%);
              span {
                color: $link-color;
              }
            }
          }
        }

        .cover {
          width: 100%;
          transition: transform 0.5s ease-out;
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          border-radius: 3px;
          background-color: $bg-white;
          transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

          @include pc-layout {
            width: 196px;
            height: 110px;
          }
          @include sp-layout {
            width: 178px;
            height: 100px;
          }

          img {
            border-radius: 50%;
            box-shadow: 0 0 10px $bg-dark-deep;
            z-index: $zindex-1;

            @include pc-layout {
              margin-bottom: -16px;
              width: 50px;
              height: 50px;
            }
            @include sp-layout {
              margin-bottom: -20px;
              width: 40px;
              height: 40px;
            }
          }

          span {
            width: 100%;
            text-align: center;
            box-shadow: 0 0 10px $bg-dark-deep;
            background-color: $bg-white-dim;
            @include pc-layout {
              padding: 20px 0 8px;
              font-size: $font-size-large;
            }
            @include sp-layout {
              padding: 24px 0 4px;
              font-size: $font-size-base;
            }
          }
        }
      }
    }
  }
}
