#home {
  .content {
    display: flex;
    flex-wrap: wrap;
    @include pc-layout {
      justify-content: space-between;
    }
    @include sp-layout {
      justify-content: space-around;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    will-change: transform;
    transition: all 0.3s ease 0s, transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    @include pc-layout {
      margin-bottom: 15px;
      width: 49.2%;
      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
      }
    }
    @include sp-layout {
      margin-bottom: 4vw;
      width: 94vw;
      box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    }

    .post-header {
      position: relative;
      overflow: hidden;

      .post-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 12px;
        width: 100%;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.66);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12);
      }

      h3,
      span {
        color: #fff;
        background-image: linear-gradient(to right, $text-clip-start 10%, $text-clip-center 40%, $text-clip-end 70%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: textclip 3s linear infinite;
      }

      h3 {
        display: inline-block;
        font-size: $font-size-larger;
        font-weight: normal;
      }

      span {
        font-size: $font-size-small;
        text-transform: capitalize;
      }
    }

    .post-body {
      padding: 12px 14px;
      text-align: justify;

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: $font-size-base;
        text-overflow: ellipsis;
        overflow: hidden;

        @include pc-layout {
          -webkit-line-clamp: 3;
        }
        @include sp-layout {
          -webkit-line-clamp: 4;
        }
      }
    }

    .post-meta {
      display: flex;
      padding: 12px 14px;
      height: 50px;
      font-size: 14px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);

      & > span {
        display: flex;
        align-items: center;
        margin-right: 12px;

        span {
          padding-right: 6px;
          &:last-child {
            padding-right: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .icon {
          margin-right: 4px;
        }
        .icon-fire {
          margin-top: -2px;
          margin-right: 2px;
        }
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 24px;
  }
}
