/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  /*font-style: italic;*/
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #555555;
  font-family: "PingFang SC", sans-serif;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

pre {
  margin-bottom: 20px;
  /*padding: 18px;*/
  font-size: 13px;
  word-wrap: normal;
  word-break: break-word !important;
  white-space: pre;
  overflow: auto;
  color: #a6a28c;
  border-radius: 8px;
}
p {
  line-height: 22px;
  color: #555555;
  font-family: "PingFang SS", "Microsoft YaHei UI", sans-serif;
  /*text-indent: 24px;*/
}
li {
  line-height: 22px;
  color: #555555;
  font-family: "PingFang SS", "Microsoft YaHei UI", sans-serif;
}
pre > code {
  line-height: 20px;
  font-family: "PingFang SC", "Microsoft YaHei UI", sans-serif;
  padding: 36px;
  font-weight: lighter;
}

.hljs-ln-numbers {
  width: 24px;
  padding: 2px 6px;
  border-right: 2px solid #bcbcbc;
  text-align: center;
}
.hljs-ln-code {
  padding-left: 6px;
}
a {
  color: #aaaaaa;
}
.hidden-anchor {
  position: relative;
  top: -100px;
  display: block;
  height: 0;
  overflow: hidden;
}
